.SearchBarArea
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 100px 0;
    width: 80%;
    max-width: 600px;
}

.SearchBarHorizontalLine
{
    background-color: #102820;
    height: 2px;
    min-height: 2px;
    width: 100%;
}

.SearchBarVerticalLine
{
    background-color: #102820;
    width: 2px;
    min-width: 2px;
    height: 100px;
}

.SearchBarInputArea
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 80%;
}

.SearchBarInputBackground
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 15px 0 15px;
}

.SearchBarIcon
{
  color: #102820;
  font-size: x-large;
  margin: 0 5px 0 0;
}

.ClearSearchButton:hover
{
    cursor: pointer;
}

.SearchBarInput
{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: small;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  background-color: transparent;
  color: #102820;
}
